{% extends "core/base.html" %}
{% block content %}
    {% for room in rooms %}
        <article class="media content-section">
          {% comment %}<img class="rounded-circle article-img" src="{{ room.created_by.profile.image.url }}">
          {% endcomment %}
          <div class="media-body">
            <h2><a class="article-title" href="{% url 'room' room.name %}">{{ room.name }}</a></h2>
            <p class="article-content">{{ room.description }}</p>
            <a class="btn btn-primary" href="{% url 'room' room.name %}" role="button">Join</a>
            <a class="btn btn-primary" href="{% url 'song_list' room.name %}" role="button">Song List</a>
            {% if room.created_by == user or user.is_superuser %}
                <a class="btn btn-danger" href="{% url 'room_delete' room.pk %}" role="button">Delete</a>
            {% endif %}
          </div>
        </article>
    {% endfor %}
    <a class="btn btn-primary" href="{% url 'room_create' %}" role="button">Create Room</a>
{% endblock content %}
