{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'chat.css' %}"/>
<body>
  <div id="frame">
    <div class="content">
      <div class="messages">
          <ul id="chat-log">
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" size="40" placeholder="Write your message..." />
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="false"></i>
        </button>
        </div>
      </div>
    </div>
  </div>
  <div id="frame2">
    <div id="player">

    </div>
  </div>
</body>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ username }};
    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    //playlist array
    var playlist = [];
    //youtube player
    var player;
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'new_message'){
            createMessage(data['message']);
        } else if (data['command'] === 'messages') {
            for (let i = 0; i < data['messages'].length; i++) {
                createMessage(data['messages'][i]);
            }
        } else if (data['command'] === 'playlist') {
            for(let i = 0; i < data['songs'].length; i++) {
                playlist.push(data['songs'][i]);
            }
        }


    };
    chatSocket.onopen = function(e) {
        fetchMessages();
        fetchPlaylist();
        console.info('Chat socket succesfully opened');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    {% comment %}
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var split = message.indexOf(" ");
        var command;
        if (split === -1){
            chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': username
            }));
        } else{
            command = message.substr(0, split);
            message = message.substr(split);
            if (command === '!play') {
                youtube_id = youtube_parser(message);
                chatSocket.send(JSON.stringify({
                    'command': 'add_playlist_song',
                    'message': youtube_id,
                    'from': username
                }));
            }
        }
        messageInputDom.value = '';
    };
    {% endcomment %}
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        if (message !== "") {
            var split = message.indexOf(" ");
            var command;
            command = message.substr(0, split);
            message1 = message.substr(split);
            if (command === '!play') {
                youtube_id = youtube_parser(message1);

                playlist.pop({'song_name': 'brak', 'videoid': youtube_id});
                chatSocket.send(JSON.stringify({
                    'command': 'add_playlist_song',
                    'message': youtube_id,
                    'from': username
                }));
            } else {
                chatSocket.send(JSON.stringify({
                    'command': 'new_message',
                    'message': message,
                    'from': username
                }));
            }
            messageInputDom.value = '';
        }
    };
    function fetchMessages() {
        chatSocket.send(JSON.stringify({'command': 'fetch_messages'}));
    }

    function fetchPlaylist() {
        chatSocket.send(JSON.stringify({'command': 'fetch_playlist'}));
    }
    function createMessage(data) {
        var author = data['author'];
        var date_time = data['date_time'];
        var msgListTag = document.createElement('li');
        var pTag = document.createElement('p');
        pTag.textContent = date_time + " " + author + ': ' + data.message;

        if (author === username) {
            msgListTag.className = 'sent';
        } else {
            msgListTag.className = 'replies';
        }
        msgListTag.appendChild(pTag);
        document.querySelector('#chat-log').appendChild(msgListTag);
    }

    function youtube_parser(url) {
        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
        var match = url.match(regExp);
        return (match&&match[7].length==11)? match[7] : false;
    }

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '360',
            width: '640',
            videoId: playlist.shift().videoid,
            playerVars: {
                'rel': 0,
                'controls': 1,
                'fs': 0
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange,
                'onError': onError
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING) {
            console.log("Youtube Playing");
        } else if (event.data == YT.PlayerState.ENDED) {
            console.log(">>>Youtube Ended");
            loadNextVideo();
            //player.loadVideoById('b4NORbnAWEY', 0, "default")
        } else if (event.data == YT.PlayerState.PAUSED) {
            console.log("Youtube Paused");
        } else if (event.data == YT.PlayerState.BUFFERING) {
            console.log("Youtube buffering");
        } else if (event.data == YT.PlayerState.CUED) {
            console.log("Youtube Cude");
        }
    }

    function onError(event) {
        try {
            console.log("wystąpił problem");
            player.loadVideoById(playlist.shift().videoid, 0, "default");
        }
        catch(err) {
            fetchPlaylist()
        }

    }

    function loadNextVideo() {
        //if (!Array.isArray(playlist) || !playlist.length) {
        if (playlist.length < 1) {
            fetchPlaylist();
        } else {
            player.loadVideoById(playlist.shift().videoid, 0, "default");
            console.log(playlist);
        }
    }


</script>
{% endblock content %}
